html, body, .login-box {
    height: 100%;
}
body * {
    outline: none;
}

input[type="password"], input[type="email"] {
    padding: 0 10px;
}

.main-wrap {
    position: relative;
}
i.material-icons{
    transition: .4s ease-in-out;
}
.button-collapse-custom:hover i.material-icons {
    color: #1a237e;
}

.exit-wrap a, .exit-wrap button {
    float: none !important;
}

.modal-exit {
    max-width: 400px!important;
}

.content-full-vh {
    min-height: calc(90vh - 64px);
    margin: 0;
}

.action-table-row a {
    display: block;
    transition: 0.4s ease-in-out;
}

.action-table-row a:hover {
    text-decoration: underline;
}

.dropdown-content {
    min-width: 0;
    min-height: 0;
    overflow: visible !important;
}

.secondDropDown {
    /*adjust by your needs*/
    margin-left: 126px !important;
    margin-top: -50px !important;
}

.roles {
    min-height: 225px !important;
}

.truncate {
    white-space: initial !important;
}

.flash-cont {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.flash-notice {
    color: #9e9d24;
}

.flash-error {
    color: #d50000;
}

.flash-warning {
    color: #9e9d24;
}

.flash-success {
    color: #2e7d32;
}

.fos_user_registration_register ul li {
    font-weight: bold;
    font-size: 16px;
    color: darkred;
}

#fos_user_registration_form_roles{
    text-align: center;
}

#fos_user_registration_form_roles > label {
    margin: 25px 15px;
    display: inline-block;
}