html, body, .login-box {
    height: 100%;
}

input[type="password"], input[type="email"] {
    padding: 0 10px;
}

.main-wrap {
    position: relative;
}
i.material-icons{
    transition: .4s ease-in-out;
}
.button-collapse-custom:hover i.material-icons {
    color: #1a237e;
}

.exit-wrap a {
    float: none !important;
}

.modal-exit {
    max-width: 400px!important;
}