{% extends 'default/index.html.twig' %}

{% block content %}
    {{ parent() }}
    <h1>У вас нету доступа к этой странице!</h1>
    <p>Для расширения прав, обратитесь к администратору</p>
    <a href="{{ path('homepage') }}" class="btn waves-effect waves-light">
        <i class="material-icons left">settings_backup_restore</i>
        Вернуться на главную
    </a>
{% endblock %}