{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row main-wrap">

            {% if is_granted('ROLE_USER') %}
                {% include 'default/header.html.twig' %}
                {% include 'default/sidebar.html.twig' %}
            {% endif %}

            {% block content %}
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="card-panel indigo lighten-5 flash-cont">
                            <span class="flash-{{ type }}">{{ flash_message }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}
