{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <h2 class="center-align">Сменить пароль Текущего аккаунта</h2>
    {{ form_widget(form) }}
    <div>
        <input class="btn indigo accent-3 waves-effect waves-light" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
