{% extends 'default/index.html.twig' %}

{% block content %}
    {% if userdata is defined %}
    <div class="row center-align">
        <h2>Изменить пользователя</h2>
        {% for tablename, tabledata in userdata %}
            <h5>{{ tablename }}</h5>
            <table class="bordered responsive-table striped centered m30">
                <thead>
                    <tr>
                        {% set break = false %}
                        {% for group in tabledata if not break %}
                            {% for header in group|keys %}
                                <th>{{ header }}</th>
                            {% endfor %}
                            {% set break = true %}
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for group in tabledata %}
                        <tr>
                            {% for val in group %}
                                {% if val == "Активен" or val == "Отключен" %}
                                    <td>
                                        <button
                                            data-action="on"
                                            type="button"
                                            class="waves-effect indigo accent-3 btn status-action"
                                           {% if val == "Активен" %}disabled{% endif %}
                                        >Подключить</button>
                                        <button
                                            data-action="off"
                                            type="button"
                                            class="waves-effect indigo accent-3 btn status-action"
                                            {% if val == "Отключен" %}disabled{% endif %}
                                        >Отключить</button>
                                    </td>
                                {% else %}
                                    <td>{{ val }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

             </table>
        {% endfor %}
    </div>
    {% elseif errorMessage is defined %}
        <h3>Ошибка, действие не возможно!</h3>
    {% endif %}

{% endblock %}