{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row center-align">
        <h2>Статистика пользователя</h2>
        {% for tablename, tabledata in userdata %}
            <h4>{{ tablename }}</h4>
            <table class="bordered responsive-table striped centered m30">
                <thead>
                    <tr>
                        {% for key in tabledata|keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for val in tabledata %}
                            <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
             </table>
        {% endfor %}
    </div>
{% endblock %}