{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
        <h5 class="center-align">Бишкек 2017г.</h5>
        {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
