{% extends 'default/index.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="row content-full-vh">
        <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
        {% block fos_user_content %}{% endblock %}
        </div>
    </div>

{% endblock %}