{% extends 'default/index.html.twig' %}

{% block content %}

    <div class="row center-align">
        <h2>Статистика пользователя</h2>
            <h4>asdasd</h4>
            <table class="bordered responsive-table striped centered m30">

                <thead>
                <tr><th>asdasd</th></tr>
                    {#<tr>#}
                        {#{% set break = false %}#}
                        {#{% for group in tablegroup if not break %}#}
                            {#{% for header in group|keys %}#}
                                {#<th>{{ header }}</th>#}
                            {#{% endfor %}#}
                            {#{% set break = true %}#}
                        {#{% endfor %}#}
                    {#</tr>#}
                </thead>

                <tbody>

                <tr><td>asd</td></tr>
                <tr><td>asd</td></tr>
                <tr><td>asd</td></tr>
                <tr><td>asd</td></tr>
                {#{% for group in tablegroup %}#}
                    {#<tr>#}
                        {#{% for val in group %}#}
                            {#<td>{{ val }}</td>#}
                        {#{% endfor %}#}
                    {#</tr>#}
                {#{% endfor %}#}
                </tbody>

            </table>
    </div>

{% endblock %}