{% extends 'default/index.html.twig' %}

{% block content %}

    <div class="row content-full-vh">
        <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
            <form class="card-panel teal lighten-5 center-align" name="change_user_pass" method="POST">
                <h4>Сменить пароль пользователя</h4>
                <div class="input-field col s12">
                    <label for="change-user">Введите логин пользователя, которому хотите сменить пароль</label>
                    <input type="text" class="validate" name="change-user" id="change-user" value="{{ app.request.get('change-user') }}" />
                </div>

                <div class="input-field col s12">
                    <label for="new-password">Введите новый пароль</label>
                    <input type="password" class="validate" name="new-password" id="new-password" value="{{ app.request.get('new-password') }}" />
                </div>

                <div class="input-field col s12">
                    <label for="repeat-new-password">Повторите ввод нового пароля</label>
                    <input type="password" class="validate" name="repeat-new-password" id="repeat-new-password" value="{{ app.request.get('repeat-new-password') }}" />
                </div>

                <div class="input-field col s12">
                    {{ parent() }}
                </div>

                <input type="reset" class="btn-flat grey-text waves-effect" value="Очистить">
                <input type="submit" class="btn indigo accent-3 waves-effect waves-light" name="submit" value="Установить новый пароль">
            </form>
        </div>
    </div>

{% endblock %}